@import "compass/reset";

//Color scheme

$primary: #00B295;
$secondary: #828A95;
$tertiary: #CEEAF7;
$white: #F7F9F9;
$accent: #EF6461;

$shadow: rgba(0,0,0, 0.18);

//GENERAL 

body, html {
    //background: $primary;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

span {
  font-family: 'Open Sans', sans-serif;
  padding:10px;
  text-align: center;
  vertical-align: middle;
}

//BACK TO TOP BUTTON 

#top {
    position: fixed;
    z-index: 999;
    right: 30px;
    bottom: 20px;
    color: white;
    font-size: 2.5em;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

//NAV BAR

nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid $white;
}

ul {
    list-style-type: none;
    margin: 0 20px 0 0 ;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: right;
}

li a { 
    display: block;
    padding: 18px 30px;
    color: $white;
    text-decoration: none;
    text-align: center;
    }      

li a:hover {
    text-decoration: none;
    border: 1px solid $white;
    color: $white;
    font-weight: 700;
}

//GENERAL

img {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    padding: 40px 0 60px 0;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

h4 {
    text-align: center;
    padding: 20px 10px 0px 10px;
}

.btn {
    white-space: normal;
}

.access-btn {
    text-align: center;
    border: 2px solid silver;
    padding: 5px;
    background: none;
    color: $secondary;
    border-radius: 0;
    width:50%;
    margin-left: 25%;
    height: 20%;
    margin-top: 20%;
    font-family: 'Droid Sans Mono', monospace;
    a,span {
        margin-top: auto;
        margin-bottom: auto;  
        text-align: center;
        vertical-align: middle;
    }

    
}

.access-btn:hover {
    color: white;
    background: $secondary;
    border: 4px solid $secondary;
    cursor: pointer;
    font-weight: 700;
}

#projects a {
    cursor: default;
}

//LANDING PAGE

#landingPage {
    min-height: 100vh;
    width: 100%;
    color: $white;
    font-family: 'Unica One', cursive;
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.1em;
    }
}

.text-container {
    display: table;
    width: 100%;
    margin: 200px auto 60px auto;
    padding: 50px;
}

.inner-wrap {
    display: table-row;
    text-align: center;
    font-size: 1.5em;
    color: $white;
    h1 {
        font-size: 2.5em;
        letter-spacing: 0.27em;
        font-weight: 700;
    }
}

.readMore {
    position: relative!important;
    z-index: 999!important;
    border: solid 1px $white;
    border-radius: 0;
    padding: 10px 35px;
}

.readMore:hover {
    font-weight: 900;
    color: $primary;
    background:$white;
}

.readMore, .readMore:link, .readMore:active {
    color:$white;
    text-decoration: none;
}

//ABOUT ME

#landingPage {
    background: $primary;
    color: $white;
}

#aboutMe {
    background: $secondary;
    color: $white;
}

#education {
    background: $tertiary;
    color: $secondary;
}

#skills {
    background: $secondary;
    color: $white;
}

#projects {
    background: white;
    color: $secondary;
}

#contact {
    background: $primary;
    color: $white;
}

.canvas-wrap {
    margin-left: 15px;
    margin-right: 15px;
}

// ABOUT ME SECTION

p {
    text-align: justify;
    margin-top:auto;
    margin-bottom:auto;
    padding: 0px 8px 0 8px;
    line-height: 140%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    }
#aboutMe {
    a:link, a:active, a:hover, a:visited, a {
    color: $tertiary;
    font-style: italic;
    }
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -ms-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: dash;
  -moz-animation-name: dash;
  -ms-animation-name: dash;
  -o-animation-name: dash;
  animation-name: dash;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.path :not(:root:root) { 
    stroke-dasharray: none; 
    }

.path-laptop {
  stroke-dasharray: 3000;
  stroke-dashoffset: 2780;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

// Block path animations in Safari

@media screen and (-webkit-min-device-pixel-ratio:0) { 

    ::i-block-chrome, .path, .path-laptop{
        stroke-dasharray: 0;
    } 
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

    ::i-block-chrome, .col-md-5{
        padding: 0;
        margin: 0;
    } 
}


@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@-moz-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@-o-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

#laptop {
    margin-left:20px;
}
// EDUCATION 

// the following section is from taken from codepen and edited 

 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
    h4 {
    margin: 30px 0 18px 0;
    text-align: center;
}
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:"";
    width: 2px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 30px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid $white;
    box-shadow: 3px 3px 8px $shadow;
    background: white;
    position: relative;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid $white;
    border-right: 0 solid $white;
    border-bottom: 15px solid transparent;
    content:" ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
    content:" ";
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: $accent;
    font-weight: 700;
}
.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

.highlight {
    color: $accent;
    font-weight: 500;
}

.list-elem {
    line-height: .5em;
    display:list-item;
    list-style:disc outside none;
    text-indent: -15px;
    margin-left: 45px;
}

.timeline-body:last-child{
    margin-bottom: 20px;
}

// SKILLLS

#skills {
    img {
        border: 3px solid $white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    img:hover {
        box-shadow: 3px 3px 10px $shadow;
    }
}

.col-md-half {
   width: 4.166666667%;
}

// MOVING BOXES - PORTFOLIO

.box-scene {
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  -o-perspective: 700px;
  perspective: 700px;
  width: 400px;
  height: 200px;
  margin: auto;
  z-index: 999;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

    ::i-block-chrome, .box-scene{
        padding-top: 50px;
        height: 400px;
        color: white;
    } 
}

.box-scene:hover .box {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.box {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all  0.8s ease-out;
  -moz-transition: all  0.8s ease-out;
  -ms-transition: all  0.8s ease-out;
  -o-transition: all  0.8s ease-out;
  transition: all  0.8s ease-out;
  -webkit-transform-origin: 90px 90px -90px;
  -moz-transform-origin: 90px 90px -90px;
  -ms-transform-origin: 90px 90px -90px;
  -o-transform-origin: 90px 90px -90px;
  transform-origin: 90px 90px -90px;
  margin: 30px auto;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px silver solid;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  -o-transform-origin: 0;
  transform-origin: 0;
  p {
      text-align: center;
  }
}

.front {
  margin-bottom: 100px;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}

.side {
  margin-bottom: 100px;
  background: white;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  z-index: 1;
  font-family: 'Droid Sans Mono', monospace;
}

// Disabled box animation for IE (10+)

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .box-scene {
    -webkit-perspective: 700px;
    -ms-perspective: 700px;
    perspective: 700px;
    width: 400px;
    height: 200px;
    margin: auto;
    z-index: 999;
    max-width: 100%;
    max-height: 100%;
    }

    .box-scene:hover .box {
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

// CONTACT SECTION 

form{
    width: 100%;
}

textarea {
    height: 5em;
}

textarea, input {
    width: 100%;
    padding: 5px;
    background: white;
    border:3px solid $white;
    box-shadow: 3px 3px 5px $shadow;
}

.contact-btn {
    position: relative;
    text-align: center;
    background: $primary;
    margin: 5px;
    width: 100%;
    border: 3px solid white;
    border-radius: 0;
    color: $white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.all-buttons, #send {
    margin-top:40px;
    margin-bottom:60px;
}

i {
    margin-right: 5px;
}
::-webkit-input-placeholder {
    color:$secondary;
    font-style: italic;
    font-size: 0.8em;
    padding: 8px;
}

::-moz-placeholder {
    color:$secondary;
    font-style: italic;
    font-size: 0.8em;
    padding: 8px;
}

:-moz-placeholder {
    color:$secondary;
    font-style: italic;
    font-size: 0.8em;
    padding: 8px;
}

:-ms-input-placeholder {
    color:$secondary;
    font-style: italic;
    font-size: 0.8em;
    padding: 8px;
}

:-moz-placeholder {
    color:silver;
    font-style: italic;
    font-size: 0.8em;
    padding: 8px;
}

::placeholder {
    color:$secondary;
    font-style: italic;
    font-size: 0.8em;
    padding: 8px;
}

.contact-btn:hover {
    cursor: pointer;
    color: $primary;
    background: white;
    }

//MEDIA QUERIES

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.8em; 
    }
    .text-container{
        padding: 0;
    }
    .box-scene {
        margin-bottom:200px;
    }
    .box-scene:hover .box {
        -webkit-transform: none;
}
    .side {
        display: none;
    }
    .box {
        width:300px;
        height: 300px;
    }
    a {
    cursor: pointer;
    }
    #skills img {
        width: 30%;
        margin-left: 35%;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
   .box-scene {
        margin-bottom:200px;
    }
    .box {
        width:200px;
        height: 200px;
    }
    .side {
        left: 200px;
    }
    .front,.side {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
   .box-scene {
            margin-bottom:100px;
             }
    .box {
        width:250px;
        height: 250px;
    }
    .side {
        left: 250px;
    }
    .front,.side {
        font-size: 1em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
    .box-scene {
        margin-bottom:100px;
    }
    .box {
        width:250px;
        height: 250px;
    }
    .side {
        left: 250px;
    }
    .front,.side {
        font-size: 1em;
    }

}

