@import "compass/reset";

//Color scheme

$dark-grey: #0B0C10;
$medium-grey: #1F2833;
$light-pink: #C5C6C7;
$bright-turqoise: #66FCF1;
$medium-blue: #45A29E;

$shadow: rgba(0,0,0, 0.18);

//GENERAL 

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
span {
  //  font-family: 'Open Sans', sans-serif;
}

//BACK TO TOP BUTTON 

#top {
    position: fixed;
    z-index: 999;
    right: 30px;
    bottom: 20px;
    color: white;
    font-size: 2.5em;
}
.hide {
    visibility: hidden;
}
.show {
    visibility: visible;
}

//NAV BAR

nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid $medium-grey;
}
ul {
    list-style-type: none;
    margin: 0 20px 0 0 ;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    float: right;
}
li a { 
    display: block;
    padding: 18px 30px;
    color: $light-pink;
    text {
        decoration: none;
        align: center;
    }      
}
li a:hover {
    text-decoration: none;
    border: 1px solid $medium-grey;
    color: white;
    font-weight: 700;
}

//GENERAL

img {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    padding: 40px 0 60px 0;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
h4 {
    text-align: center;
    padding: 20px 10px 0px 10px;
}
.btn {
    white-space: normal;
}
.access-btn {
    text-align: center;
    border: 2px solid white;
    padding: 5px;
    background: none;
    color: white;
    border-radius: 0;
    margin: 0 auto;
    width:50%;
    margin-left: 25%;
    height: 20%;
    margin-top: 20%;
    font-family: 'Open Sans', sans-serif;
}
.access-btn:hover {
    color: $dark-grey;
    background: white;
    cursor: pointer;
    font-weight: 700px;
}
#projects a {
    cursor: default;
}

//LANDING PAGE

#landingPage {
    height: 100%;
    width: 100%;
    color: light-pink;
    background: $dark-grey;
    font-family: Arial, Helvetica, sans-serif;
}
.landingContainer {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 70%;
    left: 15%;
    padding: 10%;
    color: $light-pink;
    text-align: center;
    @media screen and (max-width: 992px) {
        width: 100%;
        left: 0;
        padding: 60px 10px 10px 10px;
    }
    p {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-variant: small-caps;
        font-size: 1.3em;
    }
    h1 {
        font-weight: 700;
        text-align: center;
        font-size: 4em;
        padding-top: 100px;
    }
    .intro {
        text-align: center;
    }
    .readMore{
        width:30%;
        padding: 5px;
        position: relative;
        background: none;
        border: 3px solid $light-pink;
        color: $light-pink;
        @media screen and (max-width: 992px) {
        width: 100%;
    }
    }
    a, a:link, a:active {
        text-decoration: none;
        color: $light-pink;
    }
    span:hover {
        font-weight: 700;
        cursor: pointer;
        color: white;
        border: white 3px solid;
    }
}

//ABOUT ME

#aboutMe {
    background: $medium-grey;
    color: $light-pink;
}

#skills {
    background: $medium-blue;
    color: $light-pink;
}

#projects {
    background: $dark-grey;
    color: $light-pink;
}

#contact {
    background: $medium-blue;
    color: $light-pink;
}

.canvas-wrap {
    margin-left: 15px;
    margin-right: 15px;
}

// ABOUT ME SECTION

p {
    text-align: justify;
    margin-top:auto;
    margin-bottom:auto;
    padding: 0px 8px 0 8px;
    line-height: 140%;
    font {
        family: 'Open Sans', sans-serif;
        size: 0.8em;
    }

}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -ms-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: dash;
  -moz-animation-name: dash;
  -ms-animation-name: dash;
  -o-animation-name: dash;
  animation-name: dash;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.path-laptop {
  stroke-dasharray: 3000;
  stroke-dashoffset: 2780;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@-o-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}


#laptop {
    margin-left:20px;
}


#particle-canvas {
  width: 100%;
  height: 100%;
  height: 100vh;
}


// SKILLLS

#skills {
    img {
        border: 3px solid white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.col-md-half {
   width: 4.166666667%;
}

// MOVING BOXES - PORTFOLIO
.box-scene {
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  -o-perspective: 700px;
  perspective: 700px;
  width: 400px;
  height: 200px;
  margin: auto;
  z-index: 999;
  max-width: 100%;
  max-height: 100%;
}

.box-scene:hover .box {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.box {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all  0.8s ease-out;
  -moz-transition: all  0.8s ease-out;
  -ms-transition: all  0.8s ease-out;
  -o-transition: all  0.8s ease-out;
  transition: all  0.8s ease-out;
  -webkit-transform-origin: 90px 90px -90px;
  -moz-transform-origin: 90px 90px -90px;
  -ms-transform-origin: 90px 90px -90px;
  -o-transform-origin: 90px 90px -90px;
  transform-origin: 90px 90px -90px;
  margin: 30px auto;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px white solid;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  -o-transform-origin: 0;
  transform-origin: 0;
}

.front {
  margin-bottom: 100px;
  background: $dark-grey;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}

.side {
  margin-bottom: 100px;
  background: $dark-grey;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  z-index: 1;
}
// CONTACT SECTION 

form{
    width: 100%;
}
textarea {
    height: 5em;
}
textarea, input {
    width: 100%;
    padding: 5px;
    background: white;
    border:3px solid white;
    box-shadow: 3px 3px 5px $shadow;
}
.contact-btn {
    margin: 5px;
    width: 100%;
    background: $medium-blue;
    border: 3px solid white;
    border-radius: 0;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.all-buttons, #send {
    margin-top:40px;
    margin-bottom:60px;
}
i {
    margin-right: 5px;
}
::placeholder {
    color:silver;
    font {
        style: italic;
        size: 0.8em;
    }
    padding-left: 10px;
}
.contact-btn:hover {
    cursor: pointer;
    color: $medium-blue;
    background: white;
    }

//MEDIA QUERIES

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.8em;
    }
    .box-scene {
        margin-bottom:200px;
    }
    .box-scene:hover .box {
        -webkit-transform: none;
}
    .side {
        display: none;
    }
    .box {
        width:300px;
        height: 300px;
    }
    a {
    cursor: pointer;
    }
    #skills img {
        width: 30%;
        margin-left: 35%;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
   .box-scene {
        margin-bottom:200px;
    }
    .box {
        width:200px;
        height: 200px;
    }
    .side {
        left: 200px;
    }
    .front,.side {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
   .box-scene {
            margin-bottom:100px;
             }
    .box {
        width:250px;
        height: 250px;
    }
    .side {
        left: 250px;
    }
    .front,.side {
        font-size: 1em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
    .box-scene {
        margin-bottom:100px;
    }
    .box {
        width:250px;
        height: 250px;
    }
    .side {
        left: 250px;
    }
    .front,.side {
        font-size: 1em;
    }

}

