/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 18, ../sass/ie.scss */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 25, ../sass/ie.scss */
img {
  margin-bottom: 20px;
}

/* line 29, ../sass/ie.scss */
h2 {
  padding: 20px 0 20px 0;
}

/* line 32, ../sass/ie.scss */
h4 {
  text-align: center;
  padding: 20px 10px 0px 10px;
}

/* line 36, ../sass/ie.scss */
.access-btn {
  text-align: center;
  border: 2px solid white;
  padding: 5px;
  background: none;
  color: white;
  border-radius: 0;
  margin: 0 auto;
  width: 50%;
  margin-left: 25%;
  height: 20%;
  margin-top: 20%;
}

/* line 49, ../sass/ie.scss */
.access-btn:hover {
  color: #0B0C10;
  background: white;
  cursor: pointer;
  font-weight: 700px;
}

/* line 55, ../sass/ie.scss */
#projects a {
  cursor: default;
}

/* line 59, ../sass/ie.scss */
#landingPage {
  height: 100%;
  width: 100%;
  background: #0B0C10;
  color: #C5C6C7;
}

/* line 66, ../sass/ie.scss */
#aboutMe {
  background: #1F2833;
  color: #C5C6C7;
}

/* line 71, ../sass/ie.scss */
#skills {
  background: #45A29E;
  color: #C5C6C7;
}

/* line 76, ../sass/ie.scss */
#projects {
  background: #0B0C10;
  color: #C5C6C7;
}

/* line 81, ../sass/ie.scss */
#contact {
  background: #45A29E;
  color: #C5C6C7;
}

/* line 88, ../sass/ie.scss */
p {
  text-align: justify;
  font-size: 0.8em;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 8px 0 8px;
}

/* line 96, ../sass/ie.scss */
.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: infinite;
}

/* line 103, ../sass/ie.scss */
.path-laptop {
  stroke-dasharray: 3000;
  stroke-dashoffset: 2780;
  animation: dash 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/* line 116, ../sass/ie.scss */
#laptop {
  margin-left: 20px;
}

/* line 122, ../sass/ie.scss */
.skill {
  width: 100%;
  background: #1F2833;
}
/* line 126, ../sass/ie.scss */
.skill h6 {
  padding: 15px 0 15px 0;
}
/* line 130, ../sass/ie.scss */
.skill p {
  font-size: 0.7em;
  padding-bottom: 10px;
}

/* line 136, ../sass/ie.scss */
.skill-line {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

/* line 145, ../sass/ie.scss */
.box-scene {
  -webkit-perspective: 700;
  width: 400px;
  height: 200px;
  margin: auto;
  z-index: 999;
}

/* line 152, ../sass/ie.scss */
.box-scene:hover .box {
  -webkit-transform: rotateY(-90deg);
}

/* line 155, ../sass/ie.scss */
.box {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all  0.8s ease-out;
  -webkit-transform-origin: 90px 90px -90px;
  /* float: left; */
  margin: 30px auto;
}

/* line 168, ../sass/ie.scss */
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px white solid;
  -webkit-backface-visibility: visible;
  -webkit-transform-origin: 0 0;
}

/* line 177, ../sass/ie.scss */
.front {
  margin-bottom: 100px;
  background: #0B0C10;
  -webkit-transform: rotateY(0deg);
  z-index: 2;
}

/* line 183, ../sass/ie.scss */
.side {
  margin-bottom: 100px;
  background: #0B0C10;
  -webkit-transform: rotateY(90deg);
  z-index: 1;
}

/* line 189, ../sass/ie.scss */
.box-scene {
  max-width: 100%;
}

/* line 195, ../sass/ie.scss */
form {
  width: 100%;
}

/* line 198, ../sass/ie.scss */
textarea {
  height: 5em;
}

/* line 201, ../sass/ie.scss */
textarea, input {
  width: 100%;
  padding: 5px;
  background: white;
  border: 3px solid white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
}

/* line 208, ../sass/ie.scss */
.contact-btn {
  margin: 5px;
  width: 100%;
  background: #45A29E;
  border: 3px solid white;
  border-radius: 0;
  color: white;
  text-align: center;
  overflow: hidden;
}

/* line 218, ../sass/ie.scss */
.all-buttons, #send {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* line 222, ../sass/ie.scss */
i {
  margin-right: 5px;
}

/* line 225, ../sass/ie.scss */
::placeholder {
  color: silver;
  font-style: italic;
  font-size: 0.8em;
  padding-left: 10px;
}

/* line 231, ../sass/ie.scss */
.contact-btn:hover {
  cursor: pointer;
  color: #45A29E;
  background: white;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
  /* line 241, ../sass/ie.scss */
  body {
    font-size: 0.8em;
  }

  /* line 244, ../sass/ie.scss */
  .box-scene {
    margin-bottom: 200px;
  }

  /* line 247, ../sass/ie.scss */
  .box-scene:hover .box {
    -webkit-transform: none;
  }

  /* line 250, ../sass/ie.scss */
  .side {
    display: none;
  }

  /* line 253, ../sass/ie.scss */
  .box {
    width: 300px;
    height: 300px;
  }

  /* line 257, ../sass/ie.scss */
  a {
    cursor: pointer;
  }
}
/* sm */
@media screen and (min-width: 768px) {
  /* line 264, ../sass/ie.scss */
  body {
    font-size: 1em;
  }

  /* line 267, ../sass/ie.scss */
  .box-scene {
    margin-bottom: 200px;
  }

  /* line 270, ../sass/ie.scss */
  .box {
    width: 200px;
    height: 200px;
  }

  /* line 274, ../sass/ie.scss */
  .side {
    left: 200px;
  }

  /* line 277, ../sass/ie.scss */
  .front, .side {
    font-size: 1em;
  }
}
/* md */
@media screen and (min-width: 992px) {
  /* line 284, ../sass/ie.scss */
  body {
    font-size: 1.2em;
  }

  /* line 287, ../sass/ie.scss */
  .box-scene {
    margin-bottom: 100px;
  }

  /* line 290, ../sass/ie.scss */
  .box {
    width: 250px;
    height: 250px;
  }

  /* line 294, ../sass/ie.scss */
  .side {
    left: 250px;
  }

  /* line 297, ../sass/ie.scss */
  .front, .side {
    font-size: 1em;
  }
}
/* lg */
@media screen and (min-width: 1200px) {
  /* line 304, ../sass/ie.scss */
  body {
    font-size: 1.3em;
  }

  /* line 307, ../sass/ie.scss */
  .box-scene {
    margin-bottom: 100px;
  }

  /* line 310, ../sass/ie.scss */
  .box {
    width: 250px;
    height: 250px;
  }

  /* line 314, ../sass/ie.scss */
  .side {
    left: 250px;
  }

  /* line 317, ../sass/ie.scss */
  .front, .side {
    font-size: 1em;
  }
}
