/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 18, ../sass/ie.scss */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 25, ../sass/ie.scss */
img {
  margin-bottom: 20px;
}

/* line 29, ../sass/ie.scss */
h2 {
  padding: 20px 0 20px 0;
}

/* line 32, ../sass/ie.scss */
h4 {
  text-align: center;
  padding: 20px 10px 0px 10px;
}

/* line 36, ../sass/ie.scss */
.access-btn {
  text-align: center;
  border: 2px solid white;
  padding: 5px;
  background: none;
  color: white;
  border-radius: 0;
  margin: 0 auto;
  width: 50%;
  margin-left: 25%;
  height: 20%;
  margin-top: 20%;
}

/* line 49, ../sass/ie.scss */
.access-btn:hover {
  color: #0B0C10;
  background: white;
  cursor: pointer;
  font-weight: 700px;
}

/* line 55, ../sass/ie.scss */
#projects a {
  cursor: default;
}

/* line 59, ../sass/ie.scss */
#landingPage {
  height: 100%;
  width: 100%;
  background: #0B0C10;
  color: #C5C6C7;
}

/* line 66, ../sass/ie.scss */
#aboutMe {
  background: #1F2833;
  color: #C5C6C7;
}

/* line 71, ../sass/ie.scss */
#skills {
  background: #45A29E;
  color: #C5C6C7;
}

/* line 76, ../sass/ie.scss */
#projects {
  background: #0B0C10;
  color: #C5C6C7;
}

/* line 81, ../sass/ie.scss */
#contact {
  background: #45A29E;
  color: #C5C6C7;
}

/* line 88, ../sass/ie.scss */
.box-scene {
  -webkit-perspective: 700;
  width: 400px;
  height: 200px;
  margin: auto;
  z-index: 999;
}

/* line 95, ../sass/ie.scss */
.box-scene:hover .box {
  -webkit-transform: rotateY(-90deg);
}

/* line 98, ../sass/ie.scss */
.box {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all  0.8s ease-out;
  -webkit-transform-origin: 90px 90px -90px;
  /* float: left; */
  margin: 30px auto;
}

/* line 111, ../sass/ie.scss */
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px white solid;
  -webkit-backface-visibility: visible;
  -webkit-transform-origin: 0 0;
}

/* line 120, ../sass/ie.scss */
.front {
  margin-bottom: 100px;
  background: #0B0C10;
  -webkit-transform: rotateY(0deg);
  z-index: 2;
}

/* line 126, ../sass/ie.scss */
.side {
  margin-bottom: 100px;
  background: #0B0C10;
  -webkit-transform: rotateY(90deg);
  z-index: 1;
}

/* line 132, ../sass/ie.scss */
.box-scene {
  max-width: 100%;
}

/* line 138, ../sass/ie.scss */
form {
  width: 100%;
}

/* line 141, ../sass/ie.scss */
textarea {
  height: 5em;
}

/* line 144, ../sass/ie.scss */
textarea, input {
  width: 100%;
  padding: 5px;
  background: white;
  border: 3px solid white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
}

/* line 151, ../sass/ie.scss */
.contact-btn {
  margin: 20px 5px 40px 5px;
  width: 100%;
  background: #45A29E;
  border: 3px solid white;
  border-radius: 0;
  color: white;
  text-align: center;
}

/* line 160, ../sass/ie.scss */
i {
  margin-right: 5px;
}

/* line 163, ../sass/ie.scss */
::placeholder {
  color: silver;
  font-style: italic;
  font-size: 0.8em;
  padding-left: 10px;
}

/* line 169, ../sass/ie.scss */
.contact-btn:hover {
  cursor: pointer;
  color: #45A29E;
  background: white;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
  /* line 179, ../sass/ie.scss */
  body {
    font-size: 0.8em;
  }

  /* line 182, ../sass/ie.scss */
  .box-scene {
    margin-bottom: 200px;
  }

  /* line 185, ../sass/ie.scss */
  .box-scene:hover .box {
    -webkit-transform: none;
  }

  /* line 188, ../sass/ie.scss */
  .side {
    display: none;
  }

  /* line 191, ../sass/ie.scss */
  .box {
    width: 300px;
    height: 300px;
  }

  /* line 195, ../sass/ie.scss */
  a {
    cursor: pointer;
  }
}
/* sm */
@media screen and (min-width: 768px) {
  /* line 202, ../sass/ie.scss */
  body {
    font-size: 1em;
  }

  /* line 205, ../sass/ie.scss */
  .box-scene {
    margin-bottom: 200px;
  }

  /* line 208, ../sass/ie.scss */
  .box {
    width: 200px;
    height: 200px;
  }

  /* line 212, ../sass/ie.scss */
  .side {
    left: 200px;
  }

  /* line 215, ../sass/ie.scss */
  .front, .side {
    font-size: 1em;
  }
}
/* md */
@media screen and (min-width: 992px) {
  /* line 222, ../sass/ie.scss */
  body {
    font-size: 1.2em;
  }

  /* line 225, ../sass/ie.scss */
  .box-scene {
    margin-bottom: 100px;
  }

  /* line 228, ../sass/ie.scss */
  .box {
    width: 250px;
    height: 250px;
  }

  /* line 232, ../sass/ie.scss */
  .side {
    left: 250px;
  }

  /* line 235, ../sass/ie.scss */
  .front, .side {
    font-size: 1em;
  }
}
/* lg */
@media screen and (min-width: 1200px) {
  /* line 242, ../sass/ie.scss */
  body {
    font-size: 1.3em;
  }

  /* line 245, ../sass/ie.scss */
  .box-scene {
    margin-bottom: 100px;
  }

  /* line 248, ../sass/ie.scss */
  .box {
    width: 250px;
    height: 250px;
  }

  /* line 252, ../sass/ie.scss */
  .side {
    left: 250px;
  }

  /* line 255, ../sass/ie.scss */
  .front, .side {
    font-size: 1em;
  }
}
