/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
body, html {
  background: #0B0C10;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 23, ../sass/screen.scss */
span {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

/* line 32, ../sass/screen.scss */
#top {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 20px;
  color: white;
  font-size: 2.5em;
}

/* line 41, ../sass/screen.scss */
.hide {
  visibility: hidden;
}

/* line 45, ../sass/screen.scss */
.show {
  visibility: visible;
}

/* line 51, ../sass/screen.scss */
nav {
  position: absolute;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #1F2833;
}

/* line 58, ../sass/screen.scss */
ul {
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 66, ../sass/screen.scss */
li {
  float: right;
}

/* line 70, ../sass/screen.scss */
li a {
  display: block;
  padding: 18px 30px;
  color: #C5C6C7;
  text-decoration: none;
  text-align: center;
}

/* line 77, ../sass/screen.scss */
li a:hover {
  text-decoration: none;
  border: 1px solid #1F2833;
  color: white;
  font-weight: 700;
}

/* line 86, ../sass/screen.scss */
img {
  margin-bottom: 20px;
}

/* line 90, ../sass/screen.scss */
h1 {
  text-align: center;
  padding: 40px 0 60px 0;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

/* line 98, ../sass/screen.scss */
h4 {
  text-align: center;
  padding: 20px 10px 0px 10px;
}

/* line 103, ../sass/screen.scss */
.btn {
  white-space: normal;
}

/* line 107, ../sass/screen.scss */
.access-btn {
  text-align: center;
  border: 2px solid white;
  padding: 5px;
  background: none;
  color: white;
  border-radius: 0;
  margin: 0 auto;
  width: 50%;
  margin-left: 25%;
  height: 20%;
  margin-top: 20%;
  font-family: 'Open Sans', sans-serif;
}

/* line 122, ../sass/screen.scss */
.access-btn:hover {
  color: #0B0C10;
  background: white;
  cursor: pointer;
  font-weight: 700;
}

/* line 129, ../sass/screen.scss */
#projects a {
  cursor: default;
}

/* line 133, ../sass/screen.scss */
#particle-canvas {
  position: absolute !important;
  height: 100%;
  width: 100%;
  z-index: 100 !important;
  top: 0 !important;
  left: 0;
}

/* line 144, ../sass/screen.scss */
.canvas-container {
  width: 100%;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

/* line 151, ../sass/screen.scss */
#landingPage {
  min-height: 100vh;
  width: 100%;
  color: #C5C6C7;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 158, ../sass/screen.scss */
.text-container {
  display: table;
  width: 100%;
  margin: 100px auto 60px auto;
  padding: 50px;
}

/* line 165, ../sass/screen.scss */
.inner-wrap {
  display: table-row;
  text-align: center;
  font-size: 1.5em;
  font-variant: small-caps;
  color: #C5C6C7;
}
/* line 171, ../sass/screen.scss */
.inner-wrap h1 {
  font-size: 2.5em;
  letter-spacing: 0.27em;
  font-weight: 700;
}

/* line 178, ../sass/screen.scss */
.readMore {
  position: relative !important;
  z-index: 999 !important;
  border: solid 1px #C5C6C7;
  border-radius: 0;
  padding: 10px 35px;
}

/* line 186, ../sass/screen.scss */
.readMore:hover {
  font-weight: 900;
  color: #0B0C10;
  background: #C5C6C7;
}

/* line 192, ../sass/screen.scss */
.readMore, .readMore:link, .readMore:active {
  color: #C5C6C7;
  text-decoration: none;
}

/* line 199, ../sass/screen.scss */
#aboutMe {
  background: #1F2833;
  color: #C5C6C7;
}

/* line 204, ../sass/screen.scss */
#skills {
  background: #45A29E;
  color: #C5C6C7;
}

/* line 209, ../sass/screen.scss */
#projects {
  background: #0B0C10;
  color: #C5C6C7;
}

/* line 214, ../sass/screen.scss */
#contact {
  background: #45A29E;
  color: #C5C6C7;
}

/* line 219, ../sass/screen.scss */
.canvas-wrap {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 226, ../sass/screen.scss */
p {
  text-align: justify;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 8px 0 8px;
  line-height: 140%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

/* line 236, ../sass/screen.scss */
.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -ms-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: dash;
  -moz-animation-name: dash;
  -ms-animation-name: dash;
  -o-animation-name: dash;
  animation-name: dash;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 276, ../sass/screen.scss */
.path :not(:root:root) {
  stroke-dasharray: none;
}

/* line 280, ../sass/screen.scss */
.path-laptop {
  stroke-dasharray: 3000;
  stroke-dashoffset: 2780;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  -ms-animation: dash 10s linear forwards;
  -o-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 299, ../sass/screen.scss */
  ::i-block-chrome, .path, .path-laptop {
    stroke-dasharray: 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 306, ../sass/screen.scss */
  ::i-block-chrome, .col-md-5 {
    padding: 0;
    margin: 0;
    background: green;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/* line 330, ../sass/screen.scss */
#laptop {
  margin-left: 20px;
}

/* line 337, ../sass/screen.scss */
#skills img {
  border: 3px solid white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 345, ../sass/screen.scss */
.col-md-half {
  width: 4.166666667%;
}

/* line 351, ../sass/screen.scss */
.box-scene {
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  -o-perspective: 700px;
  perspective: 700px;
  width: 400px;
  height: 200px;
  margin: auto;
  z-index: 999;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 367, ../sass/screen.scss */
  ::i-block-chrome, .box-scene {
    padding-top: 50px;
    height: 400px;
    color: white;
  }
}
/* line 374, ../sass/screen.scss */
.box-scene:hover .box {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

/* line 382, ../sass/screen.scss */
.box {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all  0.8s ease-out;
  -moz-transition: all  0.8s ease-out;
  -ms-transition: all  0.8s ease-out;
  -o-transition: all  0.8s ease-out;
  transition: all  0.8s ease-out;
  -webkit-transform-origin: 90px 90px -90px;
  -moz-transform-origin: 90px 90px -90px;
  -ms-transform-origin: 90px 90px -90px;
  -o-transform-origin: 90px 90px -90px;
  transform-origin: 90px 90px -90px;
  margin: 30px auto;
}

/* line 402, ../sass/screen.scss */
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px white solid;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  -o-transform-origin: 0;
  transform-origin: 0;
}

/* line 419, ../sass/screen.scss */
.front {
  margin-bottom: 100px;
  background: #0B0C10;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}

/* line 430, ../sass/screen.scss */
.side {
  margin-bottom: 100px;
  background: #0B0C10;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  z-index: 1;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 444, ../sass/screen.scss */
  .box-scene {
    -webkit-perspective: 700px;
    -ms-perspective: 700px;
    perspective: 700px;
    width: 400px;
    height: 200px;
    margin: auto;
    z-index: 999;
    max-width: 100%;
    max-height: 100%;
  }

  /* line 456, ../sass/screen.scss */
  .box-scene:hover .box {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
/* line 465, ../sass/screen.scss */
form {
  width: 100%;
}

/* line 469, ../sass/screen.scss */
textarea {
  height: 5em;
}

/* line 473, ../sass/screen.scss */
textarea, input {
  width: 100%;
  padding: 5px;
  background: white;
  border: 3px solid white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
}

/* line 481, ../sass/screen.scss */
.contact-btn {
  position: relative;
  text-align: center;
  background: pink;
  margin: 5px;
  width: 100%;
  background: #45A29E;
  border: 3px solid white;
  border-radius: 0;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* line 495, ../sass/screen.scss */
.all-buttons, #send {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* line 500, ../sass/screen.scss */
i {
  margin-right: 5px;
}

/* line 503, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: silver;
  font-style: italic;
  font-size: 0.8em;
  padding: 8px;
}

/* line 510, ../sass/screen.scss */
::-moz-placeholder {
  color: silver;
  font-style: italic;
  font-size: 0.8em;
  padding: 8px;
}

/* line 517, ../sass/screen.scss */
:-moz-placeholder {
  color: silver;
  font-style: italic;
  font-size: 0.8em;
  padding: 8px;
}

/* line 524, ../sass/screen.scss */
:-ms-input-placeholder {
  color: silver;
  font-style: italic;
  font-size: 0.8em;
  padding: 8px;
}

/* line 531, ../sass/screen.scss */
:-moz-placeholder {
  color: silver;
  font-style: italic;
  font-size: 0.8em;
  padding: 8px;
}

/* line 538, ../sass/screen.scss */
::placeholder {
  color: silver;
  font-style: italic;
  font-size: 0.8em;
  padding: 8px;
}

/* line 545, ../sass/screen.scss */
.contact-btn:hover {
  cursor: pointer;
  color: #45A29E;
  background: white;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
  /* line 555, ../sass/screen.scss */
  body {
    font-size: 0.8em;
  }

  /* line 558, ../sass/screen.scss */
  .box-scene {
    margin-bottom: 200px;
  }

  /* line 561, ../sass/screen.scss */
  .box-scene:hover .box {
    -webkit-transform: none;
  }

  /* line 564, ../sass/screen.scss */
  .side {
    display: none;
  }

  /* line 567, ../sass/screen.scss */
  .box {
    width: 300px;
    height: 300px;
  }

  /* line 571, ../sass/screen.scss */
  a {
    cursor: pointer;
  }

  /* line 574, ../sass/screen.scss */
  #skills img {
    width: 30%;
    margin-left: 35%;
  }
}
/* sm */
@media screen and (min-width: 768px) {
  /* line 582, ../sass/screen.scss */
  body {
    font-size: 1em;
  }

  /* line 585, ../sass/screen.scss */
  .box-scene {
    margin-bottom: 200px;
  }

  /* line 588, ../sass/screen.scss */
  .box {
    width: 200px;
    height: 200px;
  }

  /* line 592, ../sass/screen.scss */
  .side {
    left: 200px;
  }

  /* line 595, ../sass/screen.scss */
  .front, .side {
    font-size: 1em;
  }
}
/* md */
@media screen and (min-width: 992px) {
  /* line 602, ../sass/screen.scss */
  body {
    font-size: 1.2em;
  }

  /* line 605, ../sass/screen.scss */
  .box-scene {
    margin-bottom: 100px;
  }

  /* line 608, ../sass/screen.scss */
  .box {
    width: 250px;
    height: 250px;
  }

  /* line 612, ../sass/screen.scss */
  .side {
    left: 250px;
  }

  /* line 615, ../sass/screen.scss */
  .front, .side {
    font-size: 1em;
  }
}
/* lg */
@media screen and (min-width: 1200px) {
  /* line 622, ../sass/screen.scss */
  body {
    font-size: 1.3em;
  }

  /* line 625, ../sass/screen.scss */
  .box-scene {
    margin-bottom: 100px;
  }

  /* line 628, ../sass/screen.scss */
  .box {
    width: 250px;
    height: 250px;
  }

  /* line 632, ../sass/screen.scss */
  .side {
    left: 250px;
  }

  /* line 635, ../sass/screen.scss */
  .front, .side {
    font-size: 1em;
  }
}
